*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Segoe UI;
}

body{
    background:#000;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:30px;
}

.container{
    width:100%;
    max-width:850px;

    background:#0d0d0d;

    padding:40px;

    border-radius:25px;

    border:1px solid #222;

    box-shadow:
    0 0 20px rgba(
    37,
    99,
    235,
    0.15
    );
}

h1,h2{
    color:white;

    margin-bottom:25px;

    font-size:28px;
}

input{
    width:100%;

    padding:18px;

    margin-bottom:20px;

    background:#111;

    border:1px solid #222;

    border-radius:15px;

    color:white;

    font-size:18px;
}

input::placeholder{
    color:#888;
}

button{
    width:100%;

    padding:16px;

    background:

    linear-gradient(

    90deg,

    #2563eb,

    #3b82f6

    );

    color:white;

    border:none;

    border-radius:15px;

    font-size:18px;

    font-weight:600;

    cursor:pointer;

    margin-bottom:20px;
}

button:hover{
    opacity:0.9;
}

.logout-btn{
    background:#111;

    border:1px solid #333;
}

#tasks{
    margin-top:25px;
}

.task{
    background:#111;

    border:1px solid #222;

    border-radius:18px;

    padding:25px;

    margin-bottom:20px;
}

.task h3{
    color:white;

    font-size:28px;

    font-weight:700;

    margin-bottom:15px;
}

.task p{
    color:white;

    font-size:18px;

    margin-bottom:20px;
}

.btn-group{
    display:flex;

    gap:15px;
}

.complete-btn{
    flex:1;

    background:#16a34a;
}

.delete-btn{
    flex:1;

    background:#dc2626;
}

a{
    color:#3b82f6;

    text-decoration:none;
}

a:hover{
    text-decoration:underline;
}

@media(
max-width:768px
){

.container{
padding:25px;
}

.btn-group{
flex-direction:column;
}

}